.form {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
}

.wrapper {
  /* position: relative; */
  display: flex;
}

.input {
  /* position: relative; */

  /* width: 300px; */
  /* height: 56px; */
  padding: 17px 16px 16px 50px;

  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.icon {
  position: relative;
  left: 8.6%;
  top: 10%;
}

.inputLabel {
  position: relative;
  right: 250px;
}

/* 
.inputWrapper input:focus + label,
.inputWrapper input:not(:placeholder-shown) + label {
  position: relative;
  top: -50px;
  transition: 0.3s;

  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #67d9b7;
} */
